.footer-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1976d2;
    box-shadow: 5px 5px 5px 6px rgb(122, 122, 122);
    text-align: center;
}

h2 {
    font-size: 1.7rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-contact {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
a.link-contact {
    width:50px;
}