.gameContainer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.gameTitle {
  color: azure;
  padding: 1rem;
  font-size: 2em;
}

section {
    min-width: 90%;
    display: flex;
    justify-content: center;
}
.imageInfo {
    width:40%;
    height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

img.imageDetail {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
}

.imageName {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom:25%;
  background: rgba(0,0,0,0.5);
  font-size:32px;
  font-family: Arial, Helvetica, sans-serif ;
}

.vs {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 128px;
    color:#da0f3b;
    position:absolute;
    top:50%;
    z-index: 3;
}

.champion{
    color: #ffffff;
    font-size: 48px;
    width:50%;
    max-height: 90%;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px, rgba(0,0,0,1) 2px 2px 3px 3px;

    z-index : 4;
}