.setting-table-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
  }
  
  table.setting-table-section {
    width: 30%;
    border: 5px;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  table.setting-table-section * {
    border: 1px solid rgb(196, 201, 201);
    padding: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(94, 93, 92);
  }
  tbody tr:nth-child(even) {
    background-color: #f0f0eb;
  }
  
  
  헤더
  th.thead_setting_rank {
    width: 10%;
  }
  
  th.thead_setting_img {
    width: 20%;
  }
  th.thead_setting_name {
    width: 45%;
  }
  /* 헤더 */
  
  /* 바디 */
  tbody tr {
    height: 100px;
  }
  td.tbody_rank {
    width: 6%;
  }
  td.tbody_img {
    width: 11%;
    padding: 0;
    height: 100%;
  }
  td.tbody_name {
    width: 50%;
  }
  td.tbody_champion {
    width: 16.5%;
  }
  td.tbody_win {
    width: 16.5%;
  }
  
  td.tbody_img img {
    border: 0;
    padding: 0;
    max-width: 50%;
    background-color: beige;
    object-fit: cover;
  }
  